* {
   
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:active,
  a:hover {
    color: #58b3f0;
  }
  
  img {
    display: block;
    object-fit: cover;
    max-width: 100%;
  }
  
  body {
    line-height: 1;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
  }
  
  input,
  button {
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
  }
  
  button {
    cursor: pointer;
  }
  
  i {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  
  .header {
    box-shadow: 3px 1px 6px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 7rem;
    margin: 0 auto;
    padding: 0.5rem 20rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header-item {
    width: 33.3333333333%;
    height: 100%;
  }
  .header-logo {
    height: 100%;
    margin: 0 auto;
  }
  .header-contact {
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header-contact i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    color: white;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 2rem;
  }
  .header-contact:hover {
    color: #58b3f0;
  }
  .header-contact:hover i {
    background-color: #58b3f0;
  }
  .header-control {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header-icon {
    cursor: pointer;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    margin-left: 3rem;
  }
  .header-icon:hover {
    color: #58b3f0;
  }
  .header-icon:last-child {
    position: relative;
  }
  .header-icon:last-child::after {
    content: "0";
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    background-color: #58b3f0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -20%);
  }
  .menu {
    width: 120rem;
    height: 5rem;
    margin: 0 auto;
  }
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
  }
  .menu-item {
    height: 100%;
    width: 16.6666666667%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .menu-arrow {
    font-size: 1.2rem;
    padding-left: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
  }
  .menu-link {
    cursor: pointer;
    transition: all 0.25s linear;
  }
  .menu-item:hover {
    position: relative;
  }
  .menu-item:hover .menu-arrow {
    visibility: visible;
    opacity: 1;
    color: #58b3f0;
  }
  .menu-item:hover .menu-link {
    color: #58b3f0;
  }
  .menu-sub {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    padding-right: 1rem;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
  }
  .menu-sub-link {
    color: black;
    transition: all 0.25s linear;
  }
  .menu-sub-item {
    padding: 1rem 1.5rem;
    margin-left: 3.5rem;
    background-color: #fff;
  }
  .menu-item:hover .menu-sub {
    opacity: 1;
    visibility: visible;
  }
  /* CONTECT -GIO HANG */
.header-gh .container-gh{
    background: #f5f5f5;
  }
  .container-gh{
    padding: 10px 75px;
    
  }
  .container-gh .ol-gh{
    padding: 10px 0;
    background: transparent;
    border-radius: 0;
    margin: 0;

  }
  .container-gh .ol-gh li{
    font-size: 14px;
  }
  
  .ol-gh li{
    display: inline-block;
  }
  .ol-gh li span{
    color: #777;
    padding-left: 5px;
  }
  .header-gh h1{
    font-size: 25px;
    font-weight: 550;
    margin: 0 0 10px;
    font-family: 'Quicksand', sans-serif;
  }
  .header-gh p{
    margin: 0 0 10px 0;
    line-height: 21px;
    font-family:  sans-serif;
 
  }
  .heading-container-gh{
    text-align: center;
    padding: 0 0 30px 0;
    position: relative;
   
  }
  .heading-container-gh::after{
    content: "";
    background: #252a2b;
    display: block;
    width: 90px;
    height: 4px;
    margin: 25px auto 0;
  }
  .wrapper-card-detail{
    padding: 35px 0 50px;
  }
  .footer-container-gh{
    display: flex;
  }
  .footer1-container{
    flex-basis: 70%;

  }
  .footer2-container{
    flex-basis: 30%;
  }
  .cart-container-foot .cart-empty{
    display: none;
    font-size: 20px;
    margin: 30px 0;
    font-weight: 300;
  }
  .sidebox-order{
    background: #fff;
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #e1e3e4;
    border-radius: 2px;
  }
  .sidebox-order-inner .sidebox-order-title {
    margin-bottom: 20px;
  }
  .sidebox-order-title h3{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
  }
  .sidebox-order-inner .sidebox-order-total{
    margin-bottom: 20px;
  }
  .sidebox-order-total .total-price{
    float: right;
    color: red;
    font-size: 21px;
  }
  .sidebox-order-total{
    font-size: 16px;
    color: #5c5c5c;
    font-weight: 600;
    padding: 15px 0;
    border-top: 1px dotted #dfe0e1;
    border-bottom: 1px dotted #dfe0e1;
  }
  .sidebox-order-total  p{
    margin: 0;

  }
  .sidebox-order-text p{
    margin: 0 0 10px 0;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 20px;
  }
 .sidebox-order-action{
margin-bottom: 20px;
  }
  /* button */
  .btn-tt {
    color: rgb(88, 6, 88);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgb(128, 0, 64);
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .btn-tt:hover {
    color: rgb(255, 252, 254);
    background-color: rgba(134, 14, 147, 0.9);
  }
  
  .btn-tt::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn-tt:hover::before {
    width: 160%;
  }
  .link-connection{
    margin: 10px 0 0;
    text-align: center;
  }
  /* footer-gh */
  .footer {
    background-color: #1c2632;
  }
  .footer-container {
    margin-top: 0.4rem;
    padding: 3rem 20rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: -2rem;
    color: white;
  }
  .footer-column {
    width: calc(25% - 2rem);
    margin-right: 2rem;
  }
  .footer-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .footer-title:before {
    content: "";
    width: 4rem;
    height: 2px;
    background-color: #58b3f0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer-link {
    color: white;
    margin-bottom: 1rem;
    display: inline-block;
  }
  .footer-info {
    margin-bottom: 1rem;
  }
  .footer-social-list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: -2rem;
  }
  .footer-social-item {
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-credit {
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.281);
    font-size: 1.2rem;
  }
  
  .cart{
    display: block;
    width: 95%;

  }
  .cart .title-cart{
      display: flex;
      flex-direction: row;
      height: 30px;
      width: 100%;
      box-shadow: 2px 2px 2px 2px #ddd;
      margin-bottom: 5px;
      justify-content: center;
      align-items: center;
  }
  .cart .item-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #E8E8E8 ;
    padding-bottom: 10px;
    margin-bottom: 2px;
  }
  .cart .hinhanh,.gia ,.soluong ,.tongtien ,.hanhdong0,.hanhdong1{
      flex: 1;
      margin-left: 20px;
      align-items: center;
  }
  .cart .ten{
    flex: 3;
  }
  .cart .tongtien{
    display: inline-block;
    flex: 2;
  }
  .item-cart img{
    height: 60px;
    width: 60px;
  }
  .item-cart .hanhdong0,.hanhdong1 {
    background-color: #fff;
    height: 20px;
    width: 50%;
  }
  .item-cart .hanhdong0:hover {
    transition: 0.5s;
    color: red;
    
  }
  .item-cart .hanhdong1:hover {
    transition: 0.5s;
    color: red;
    
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }

  .warning{
    display: none;
    position: fixed;
    height: 200px;
    width: 400px;
    top: 35%;
    left: 40%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 1px black;
    z-index: 1000;
  }
  .warning .titlewarning{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
  }
  .warning>p{
    margin-top: 10px;
    top:20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .warning .btn{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .btn .btnyes{
    display: flex;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(1,120,212);
    border-radius: 5px;
    color: white;
    
  }
  .btn .btnno{
    display: flex;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(239,239,239);
    border-radius: 5px;
  }

  