.category 
{
    @include flexbox();
    padding: 1rem 20rem;
    &-menu 
    {
        width: calc(25% - 2rem);
        margin-right: 2rem;
    }
    &-menu-title 
    {
        padding: 1rem 2rem;
        @include flexbox(center,space-between);
        border: 1px solid rgba(0, 0, 0, 0.096);
        border-radius: 1rem;
    }
    &-menu-list 
    {
        padding: 1rem 2rem;
        border: 1px solid rgba(0, 0, 0, 0.096);
        border-radius: 1rem;
        margin: 1rem 0;


    }
    &-menu-item 
    {
        padding-bottom: 1rem;
    }
    &-menu-icon 
    {
        transition:all .25s linear;
    }
    &-menu-option 
    {
        padding: 1rem 2rem;
        border: 1px solid rgba(0, 0, 0, 0.096);
        border-radius: 1rem;
        margin: 1rem 0;
    }
    &-option-item 
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &-product 
    {
        background-color: blue;
        
    }
}