section.top-bar
  .container
    header.header
      .header-item
        .header-contact
          i.fa.fa-phone
          span.header-contact-phone H&#x1ED7; tr&#x1EE3;: 0123 456 789
      .header-item
        a(href='#')
          img.header-logo(src='./Images/logo.png' alt='')
      .header-item
        .header-control
          i.header-icon.fas.fa-search
          i.header-icon.fas.fa-user
          i.header-icon.fas.fa-shopping-bag
section.top-nav
  .container
    nav.menu
      ul.menu-list
        li.menu-item
          a.menu-link(href='#') Trang ch&#x1EE7;
        li.menu-item
          a.menu-link(href='#') Marvel/DC
          i.menu-arrow.fa.fa-angle-down
          ul.menu-sub
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | V&utilde; kh&iacute; t&#x1ED1;i th&#x1B0;&#x1EE3;ng
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | M&#x1EB7;t n&#x1EA1;
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | &Dstrok;&#x1ED3; c&ocirc;ng ngh&#x1EC7;
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | T&#x1B0;&#x1EE3;ng marvel store
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | T&#x1B0;&#x1EE3;ng 1/2, 1/1
        li.menu-item
          a.menu-link(href='#') Manga/Anime
          i.menu-arrow.fa.fa-angle-down
          ul.menu-sub
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | Dragon Ball
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | Naruto
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | One Piece
        li.menu-item
          a.menu-link(href='#') Theo phim
          i.menu-arrow.fa.fa-angle-down
          ul.menu-sub
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | V&utilde; kh&iacute; t&#x1ED1;i th&#x1B0;&#x1EE3;ng
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | M&#x1EB7;t n&#x1EA1;
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | &Dstrok;&#x1ED3; c&ocirc;ng ngh&#x1EC7;
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | T&#x1B0;&#x1EE3;ng marvel store
            li.menu-sub-item
              a.menu-sub-link(href='#')
                | T&#x1B0;&#x1EE3;ng 1/2, 1/1
        li.menu-item
          a.menu-link(href='#') Ch&#x1EC9; d&#x1EAB;n mua h&agrave;ng
        li.menu-item
          a.menu-link(href='#') Li&ecirc;n h&#x1EC7;